<app-nav-menu></app-nav-menu>

<div class="tabs-layout">
    <nav mat-tab-nav-bar>
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{ link.label }}
        </a>
        </nav>
</div>


  <router-outlet></router-outlet>

<style>

    .tabs-layout
    {
        padding-top: 10px;
    }

    nav
    {
        background-color: #fff;
    }
    
    @media screen and (min-width: 800px) {
        nav
        {
        width: calc(var(--main-desktop-block) + 40px); 
        }

        .tabs-layout
        {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
    }
</style>