<app-nav-menu></app-nav-menu>


<div class="tabs-layout">



    <div class="chips">
       <app-categories-chips></app-categories-chips>
    </div>

    <nav mat-tab-nav-bar>
        <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{ link.label }}   
        </a>
        
    </nav>
</div>


  <router-outlet></router-outlet>
<style>


    .chips
    {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        overflow: auto;
        flex-wrap: nowrap;
    }

  

    .tabs-layout
    {
       /*  padding-top: 10px; */
    }

    nav
    {
        background-color: #fff;
    }
    
    @media screen and (min-width: 800px) {

        nav
        {
        width: calc(var(--main-desktop-block) + 40px); 
        }

        .chips
        {
        width: calc(var(--main-desktop-block) + 40px);   
        }

        .tabs-layout
        {
 /*        padding-top: 10px; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
    }

    @media screen and (max-width: 800px) {
        ::ng-deep .mat-chip-list-wrapper
        {
            flex-wrap: nowrap !important;
        }
    }
</style>