<app-nav-menu></app-nav-menu>
<div class="docs-primary-header"><h1>{{ title }}</h1></div>

<div class="doc-layout">
    <div class="doc" *ngIf="post">

        <h1>{{ post.title }}</h1>
        <div [innerHTML]="post.content"></div>
    
    </div>
</div>



<style>
    .docs-primary-header 
    {
    background: #3f51b5;
   
    }

    .docs-primary-header h1
    {
        font-weight: 300; 
        padding: 25px 10px 20px 30px; 
        margin: 0;
        color: #fff;
    }

    .doc
    {
        padding: 10px;
    }


    @media screen and (min-width: 800px) {
        .doc
        {
        width: 600px;  
        }

        .doc-layout
        {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
    }

</style>

