<div class="preview-layout">
    <div class="preview-block" *ngFor="let post of posts"  [routerLink]="['/post', post.id]">
        <h4> {{ post.title }}</h4>
        <p>{{ post.preview }} </p>
    </div>
</div>


<style>

    mat-card:hover
    {
        cursor: pointer;
        opacity: 1.0 !important;
    }

    .preview-block
    {
        background-color: #fff;
        margin-bottom: 10px;
        outline: 0;
    }

    .preview-block:hover
    {
        cursor: pointer;
    }

    .preview-layout
    {
        background-color: #f4f4f4;
    }


    @media screen and (min-width: 800px) {
        
        .preview-block
        {
            width: var(--main-desktop-block);
            padding-left: 40px;
            
        }

        .preview-layout
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 800px) {
        
        .preview-block
        {   
            padding: 20px 10px 5px 20px;
            border-radius: 0;
            transition: 0.3s;
        }

        
        .preview-block h4
        {
            margin: 0;
        }

    }


</style>