<div class="layout">
    <mat-toolbar>
        <div class="row">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <mat-icon class="back-btn" [routerLink]="['/posts']">keyboard_backspace</mat-icon> <div class="page-title">Редактирование категории</div>
            </div>

            <mat-icon (click)="onSubmit()">done</mat-icon>
        </div>

   

    </mat-toolbar>
    <div class="body">
        <form [formGroup]="categoryForm" novalidate *ngIf="category">

      
            <mat-form-field class="example-form-field" style="width: 100%;">
                <mat-label>Имя для маршрутов</mat-label>
                <input matInput type="text" formControlName="engName" [(ngModel)]="category.engName">
              </mat-form-field>
        
              <mat-form-field style="width: 100%;">
                <mat-label>Отображаемое имя</mat-label>
                <input matInput type="text" formControlName="rusName" [(ngModel)]="category.rusName">
              </mat-form-field>
        
              <mat-form-field class="example-form-field" style="width: 100%;">
                <mat-label>Ссылка на логотип</mat-label>
                <input matInput type="text" formControlName="logo64Href" [(ngModel)]="category.logo64Href">
              </mat-form-field>
        
            </form>
        
    </div>
</div>

<style>
    .body
    {
        padding: 20px;
        text-align: center;
    }

    @media screen and (min-width: 800px) {
        .layout
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .row
        {
            width: 600px;
            background-color: #ff4081;
            color: #fff;
        }

        mat-toolbar
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }

        .body
        {
            width: 600px;
        }
    }

    @media screen and (max-width: 800px)
    {
        .row
        {
            width: 100%;
        }
    }

    .back-btn
        {
            margin-right: 20px;
            outline: 0;
        }   
        
    .back-btn:hover
    {
        cursor: pointer;
    }


    .page-title
    {
        font-weight: 500;
        font-size: 14px;
    }

        .row
        {
            background-color: #ff4081;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        mat-toolbar
        {
            background-color: #ff4081;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 18px;
        }
    
</style>